body{
background:#d4fade!important;

}
.bg-primary{
background:#000000 !important;
}
.banner{
width:100%;
height:93vh;
background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url(../images/cave.png);
background-size:cover;
color:white;
font-weight:bold;
font-size:25px;


}