<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
<h1>Welcome to Brights Social</h1>

<div><p th:text="${session.username}"></p> </div>
<div><p th:text="${session.user.firstName}"></p>  <p th:text="${session.user.lastName}"></p> <p th:text="${session.user.city}"></p>
    <p th:text="${session.user.presentation} ?: 'Lägg till din presentation i edit profile'" > </p>
    <a href="/editprofile"> edit profile </a>
    <a href="/logout">Logout</a>
</div>

<table>
    <tr>
       <th>Other users</th>
    </tr>
    <tr th:each="us : ${users}">
        <td><a th:href="'/profile/' + ${us.username}" th:text="${us.username}"></a></td>
        <td th:text="${us.firstName}"></td>
        <td th:text="${us.lastName}"></td>
        <td th:text="${us.city}"></td>

    </tr>
</table>

<table>
    <tr>
        <th>Feed</th>
    </tr>
    <tr th:each="message : ${messages}">
        <td><a th:href="'/profile/' + ${message.sender}" th:text="${message.sender}"></a></td>
        <td th:text="${message.messageBody}"></td>
        <td th:text="${message.time}"></td>
    </tr>
</table>
<form action ="/myprofile" method="post">
    <textarea name="message" ></textarea>
    <button type="submit" class="btn btn-primary">Send</button>
</form>


<script>
    function update(){
    }
</script>
</section>
</body>
</html>