<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="banner">
<h1 th:text="${user.firstName} + 's profil'"></h1>
<table>
  <tr>
    <th>First Name</th>
    <th th:text="${user.firstName}"></th>
  </tr>
  <tr>
    <th>Last Name</th>
    <th th:text="${user.lastName}"></th>
  </tr>
  <tr>
    <th>City</th>
    <th th:text="${user.city}"></th>
  </tr>
</table>
</section>
</body>
</html>